PORT=4000
# SQL Server (Prisma) example:
# Use either instance (\\SQLEXPRESS) OR port, and make sure your DB exists.
# You can also append: &trustServerCertificate=true
DATABASE_URL="sqlserver://localhost:1433;database=smart_locker;user=sa;password=SuaSenhaForte;encrypt=true;trustServerCertificate=true"

# Configuração Gmail (recomendado para testes)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seu_email@gmail.com
SMTP_PASS=sua_senha_de_app_16_digitos
EMAIL_FROM=seu_email@gmail.com

NODE_ENV=development
